@use "sass:map";
@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select {
  width: 100%;
  padding: map.get($spacing, "md");
  font-size: map.get($font-sizes, "md");
  border: 1px solid $border-color;
  background: $background-light;
  color: $text-dark;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: map.get($colors, "primary");
  }

  &:focus {
    border-color: map.get($colors, "primary-dark");
    box-shadow: 0 0 5px rgba(map.get($colors, "primary"), 0.3);
  }

  &:disabled {
    background: $background-dark;
    color: $text-light;
    cursor: not-allowed;
  }
}
